*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
}

.topSection {
  background-image: url("images/pattern-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18rem;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin-top: 2rem;
  color: white;
  font-weight: bold;
}

.hidden {
  display: none;
}

.modalButton {
  position: relative;
  display: inline-block;
  text-align: center;
  top: 2.35rem;
  right: 21rem;
  border: none;
  background-color: white;
  width: 6rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.modalButton:hover {
  transition: 0.8s;
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modalButton:active {
  transition: 0.1s;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  max-height: 30rem;
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.modalClose {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h4 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

figure {
  border: 1px solid black;
  border-radius: 0.8rem;
  display: inline-block;
  width: 15rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

figure:hover {
  background-color: rgba(0, 0, 0, 0.733);
  color: white;
  transition: 0.4s ease;
}

h5 {
  font-size: 1.1rem;
  pointer-events: none;
}

figure > p {
  pointer-events: none;
}

.modal_items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 4.5rem;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 50;
}

.inputField {
  width: 30rem;
  height: 3.5rem;
  border-radius: 1rem 0 0 1rem;
  border-color: white;
  font-size: 1.4rem;
  caret-color: red;
  text-indent: 10%;
}

.inputField::placeholder {
  font-size: 1.1rem;
}

.inputField::selection {
  background-color: hotpink;
  color: cyan;
  font-weight: bold;
}

.submitBtn {
  width: 3.5rem;
  height: 3.6rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: rgb(63, 63, 63);
  border-color: rgba(63, 63, 63, 0.555);
}

form {
  margin-top: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data {
  position: relative;
  padding: 1rem;
  margin: -5rem auto;
  max-width: 75%;
  height: 10rem;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  z-index: 10;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: space-evenly;
  gap: 1.2rem;
  list-style: none;
  padding-top: 1rem;
}

li {
  text-align: center;
}

.dataList {
  border-right: 1px solid rgba(0, 0, 0, 0.356);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.dataListTitle {
  padding-bottom: 1rem;
}

#map {
  width: 100vw;
  height: 78vh;
  z-index: 0;
}

@media (max-width: 600px) {
  .topSection {
    height: 20rem;
  }
  h1 {
    font-size: 1.6rem;
    margin-top: 0.8rem;
  }
  .modalButton {
    position: absolute;
    left: 30%;
    top: 5.6%;
    display: inline-block;
    text-align: center;
    border: none;
    background-color: white;
    width: 15rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
  }
  form {
    margin-top: 2rem;
  }
  .inputField {
    max-width: 22rem;
    font-size: 1rem;
  }
  .inputField::placeholder {
    font-size: 1rem;
  }
  .data {
    margin: -11rem auto;
    max-width: 75%;
    height: 22rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: none;
    padding-top: 0.4rem;
  }
  .dataList {
    border: none;
  }
  h2 {
    margin-top: -0.5rem;
  }
}
